{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 3 versions",
            "ie >= 11",
            "iOS >= 8",
            "android >= 4"
          ]
        },
        "useBuiltIns": "entry",
        "modules": false,
        "loose": true
      }
    ],
    "react"
  ],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "react",
        "flow",
        "jest"
      ],
      "plugins": []
    },
    "production": {
      "comments": false,
      "compact": true,
      "minified": true
    },
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
